body {
    font-family: Arial;
    padding: 40px;
    background: #111;
    color: white;
}

button {
    padding: 10px 20px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

img {
    margin-top: 20px;
}